<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Youplaboum</title>

<!--// CSS (load bootstrap from a CDN)
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<link href="styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="styles.css" type="odieusepersonnequestmatthieuverjat" …>
<style>
    body   
    { margin: 0px;
    
    background-color: burlywood;
    text-align: center;
}
h1{color: 	#008000;
}
.nav{display: flex;
flex-direction: row;
justify-content: space-around;
bottom: 0em; 
left: 0em; 
right: 0em;
top:0em ;
background-color:  	#008000;
width: 100%;}

input{width: 17em;
height: 2em;
border-radius: 20px;}

.ess{background-image: url(..pages/img/ecolo);}

.titre{
    color:#008000; ;
width:20em;
padding-bottom: 1em;
padding-top: 1em;
margin: auto;
height: auto;
background-color: white;
border-radius: 20px;}



.connexion{border-radius: 0px;
    width: 25em;
            height: 11em;
        border: 1rem solid 	#008000;
        border-radius: 50px;
        text-align: center;
        margin: 0 auto;
        background-color:#008000 ;
        
}
.aligner{display: flex;
flex-direction: row;
justify-content: space-around;}

.defi{ border-radius: 20px;
 width: 45em;
 height: auto;
 margin: 0 auto;
 background-color:white ;
 text-align: center;
 padding-top: 1em;
 padding-bottom: 1em;}

.foot{background-color: #008000;
display: flex;
height: 4em;
flex-direction: row;
justify-content: space-around;
position: absolute; 
bottom: 0em; 
left: 0em; 
right: 0em;
padding-top: 1em;
padding-bottom: 1em;
}

.imagedefi{
    width: 20em;
    height: 20em;
    border-radius: 80em;
    background-color: 	#008000;
    margin: auto;
    padding: 1em;
}

.tidefi{width: 30em;
height: auto;
background-color: white;
border-radius: 50em;
margin: auto;

}
.description{
    width: 45em;
    border-radius: 5em;;
height: auto;
background-color: white;
margin: auto;
padding:2em ;}

</style>