<!-- views/partials/header.ejs -->
    
    
        <div class="nav">
            

        <h1 style="color: white; font-size: 3em; text-decoration: none;">Relève des défis, et développe des super-pouvoirs pour protéger la planète<span style=" color:white;">
                <i class="fas fa-globe-americas"></i>
                </span></h1>
    </div>


