<!-- views/pages/index.ejs -->


<head>
        <% include ../partials/head %>
    </head>
    <body class="container">
    
    <header>
        <% include ../partials/header %>
    
    </header>
    
    <main>
       

<br>
<br>

<input type="submit" value="Créer un compte" style= background-color:chartreuse size="width:200px">

<a href="/"> J'ai déjà un compte</a>

<form action="/user/log" class="form-group" method="POST">
    <label for="email">Adresse mail</label>
    <br>
    <input type="text" class="form-control" name="email" id="email" placeholder="compteuser@gmail.com" maxlength="255">
    <br>
    <label for="password">Mot de passe</label>
    <br>
    <input type="password" class="form-control" name="password" id="password" placeholder="password" maxlength="255">
 <br>
    <button type="submit" class="btn btn-primary">Me connecter</button>
</form>
    </main>
    
    <footer>
        <% include ../partials/footer %>
    </footer>
    